{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'home/style.css '%}" />
  </head>
  <body>
    <h1>This is home page</h1>
    <p>
      this is paragraph. Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Molestias placeat assumenda blanditiis, impedit eveniet dolore
      deleniti aut autem excepturi temporibus. Facilis praesentium nulla at
      ipsum placeat tempore alias. Aliquid, dolorem.
    </p>
    <button>Click Me</button>
  </body>
</html>
